<div ng-if="tasksLoaded" ng-cloak>
  <div>
    <span><h3>Total records: {{items.length}}</h3></span>
    <span>
      <h3>Filtered records: {{filteredItems.length}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="input" ng-click="resetScroll();">Reset</button>
      </h3>    
    </span>
  </div>
  <div>&nbsp;</div>

  <table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
      <th ng-repeat="col in columns">
        <div ng-if="col.sort" class="pointer" ng-click="sorting(col)">
          {{::col.name}}
          <i class="fa fa-fw pull-right" ng-class="col.cls"></i> 
        </div>
        <div ng-if="!col.sort">{{::col.name}}</div>      
      </th>
    </tr>
    <tr>
      <th ng-repeat="col in columns">
        <div ng-if="col.filter"><input type="text" ng-model="col.text" class="small_input" placeholder="{{col.name}}" /></div>
      </th>
    </tr>
    </thead>
    <tbody infinite-scroll="handleScroll();" infinite-scroll-distance="0" infinite-scroll-disabled="isBusy">
      <tr ng-repeat="record in (filteredItems = (items | filter:{_id: columns[0].text, datetime: columns[1].text, col_3: columns[2].text, col_4: columns[3].text, col_5: columns[4].text, col_6: columns[5].text, col_7: columns[6].text, col_8: columns[7].text, col_9: columns[8].text} | orderBy: order_by : reverse | limitTo:endLimit)) track by record._id">
        <td>{{::record._id}}</td>
        <td>{{::record.datetime | date:'yyyy-MM-dd HH:mm:ss:sss'}}</td>
        <td>{{::record.col_3}}</td>
        <td>{{::record.col_4}}</td>
        <td>{{::record.col_5}}</td>
        <td>{{::record.col_6}}</td>
        <td>{{::record.col_7}}</td>
        <td>{{::record.col_8}}</td>
        <td>{{::record.col_9}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="!tasksLoaded" class="center_div">
  <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>