<div class='container'>
  <div class='sent' ng-class="{ 'hidden': !submit }">
    <h1>
      Message sent!
      <small>&hellip;okay, not really.</small>
    </h1>
  </div>
  <form name='contactForm' ng-class="{ 'hidden': submit }">
    <fieldset>
      <legend>Contact Us!</legend>
      <label class="contact" for='email' ng-class="{'required':contactForm.email.$error.required,'invalid':contactForm.email.$error.email,'ok':contactForm.email.$valid}">
        <span class='no-placeholder'>
          Email
        </span>
        <input class="full_width" id='email' name='email' ng-model='email' placeholder='Email' required type='email'>
      </label>
      <label class="contact" for='subject' ng-class="{'required':contactForm.subject.$error.required,'ok':contactForm.subject.$valid}">
        <span class='no-placeholder'>
          Subject
        </span>
        <input class="full_width" id='subject' name='subject' ng-model='subject' placeholder='Subject' required type='text'>
      </label>
      <label class="contact" for='message' ng-class="{'required':contactForm.message.$error.required,'ok':contactForm.message.$valid}">
        <span class='no-placeholder'>
          Message
        </span>
        <textarea class="full_width" name='message' ng-model='message' placeholder='Message' required></textarea>
      </label>
    </fieldset>
    <div class='form-controls'>
      <button class='btn btn-send' ng-click='submit = ! submit' ng-disabled='contactForm.$invalid' type='submit'>
        Send
      </button>
    </div>
  </form>
</div>